@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.dt-layout-row:has(.dt-search),
.dt-layout-row:has(.dt-length),
.dt-layout-row:has(.dt-paging) {
  display: none !important;
}
/* .dataTables_filter {
  display: none;
} */
